/* LAYOUT */
.main-container{
  display: flex;
  width: 1200px;
}

/* ASIDE */
aside{
  background-color: #DDDDDD;
  width: 34%;
  margin-right: 3%;
}

#perfil-foto img{
  border-radius: 50%;
}

.contacts img{
  border-radius: 50%;
}

.cont{
  display: flex;
  flex-wrap: wrap;
}

.cont article{
  width: 50%;
}

h2{
  border-bottom: 5px solid white;
  text-transform: uppercase;
  font: 1.3em/1.5 Verdana, Helvetica, sans-serif;
  color: #054787;
  letter-spacing: 3px;
}

h1{
  font: 2em/1.5 Verdana, Helvetica, sans-serif;

}

.general{
  font: 1em/1.5 Verdana, Helvetica;
}

p{
  background-color: #A6D9DA;
  letter-spacing: 1.5px;
}
